aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
altair==5.3.0
annotated-types==0.7.0
anyio==3.7.0
appnope==0.1.3
argilla==1.8.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asitop==0.0.23
asn1==2.7.0
asttokens==2.0.5
async-timeout==4.0.2
asyncio==3.4.3
attrs==24.2.0
Automat==22.10.0
autopep8==1.7.0
autoviz==0.1.732
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
bleach==6.2.0
blessed==1.20.0
blinker==1.8.2
blis==0.7.9
blurhash==1.1.4
bokeh==3.6.1
boost==0.1
boto3==1.34.62
botocore==1.34.62
bpylist2==4.1.1
branca==0.8.0
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.3.3
catalogue==2.0.8
cattrs==23.2.3
certifi==2024.8.30
cffi==1.15.0
channels==4.0.0
chardet==5.1.0
charset-normalizer==3.4.0
chromadb==0.3.23
click==8.1.7
clickhouse-connect==0.5.25
cloudpickle==2.2.1
cmake==3.28.3
colorcet==3.0.1
colorclass==2.2.2
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
commonmark==0.9.1
compressed-rtf==1.0.6
confection==0.0.4
constantly==23.10.4
construct==2.10.70
contourpy==1.3.1
copulas==0.9.2
coremltools==5.2.0
cryptography==42.0.5
cssselect==1.2.0
ctgan==0.9.0
cycler==0.11.0
cymem==2.0.7
daemonize==2.5.0
dash==2.9.2
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dashing==0.1.0
dataclasses-json==0.5.7
deap==1.4.1
debugpy==1.6.7
decorator==5.1.1
deepecho==0.5.0
defusedxml==0.7.1
Deprecated==1.2.14
developer-disk-image==0.0.2
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
Django==4.2.5
django-createsuperuserwithpassword==2.0.0
djangorestframework==3.15.2
dnspython==2.6.1
drawdata==0.2.0
duckdb==0.8.0
easygui==0.98.3
ebcdic==1.1.1
email_validator==2.1.1
emoji==2.2.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints==0.4
enum-compat==0.0.3
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==0.8.3
extract-msg==0.41.1
faiss-cpu==1.8.0.post1
Faker==17.0.0
fastapi==0.111.1
fastapi-cli==0.0.4
fastjsonschema==2.20.0
ffmpy==0.3.2
filelock==3.13.3
Flask==3.0.3
Flask-Compress==1.13
Flask-Cors==3.0.10
flask-ngrok==0.0.25
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
folium==0.17.0
fonttools==4.33.3
frozenlist==1.3.3
fsspec==2024.6.1
future==0.18.3
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
gpt4all==0.2.3
gpxpy==1.5.0
gradio==4.38.1
gradio_client==1.1.0
graphviz==0.20.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
hexdump==3.3
hnswlib==0.7.0
holoviews==1.14.9
httpcore==1.0.5
httplib2==0.22.0
httptools==0.5.0
httpx==0.27.0
huggingface-hub==0.23.5
humanfriendly==10.0
hvplot==0.7.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.10
ifaddr==0.2.0
imageio==2.33.1
imageio-ffmpeg==0.4.9
IMAPClient==2.3.1
imbalanced-learn==0.12.0
imblearn==0.0
importlib-resources==5.12.0
incremental==22.10.0
inquirer3==0.4.0
ipsw-parser==1.2.2
ipykernel==6.24.0
ipyleaflet==0.19.2
ipython==8.28.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyter-leaflet==0.19.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
kagglehub==0.3.4
kaleido==0.2.1
kiwisolver==1.4.2
la_panic==0.4.9
langchain==0.2.9
langchain-community==0.2.7
langchain-core==0.2.20
langchain-experimental==0.0.62
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
langcodes==3.3.0
langsmith==0.1.88
lark-parser==0.12.0
lazy_loader==0.2
libretranslatepy==2.1.1
linkify-it-py==2.0.3
llama-cloud==0.0.9
llama-cpp-python==0.1.50
llama-index==0.10.55
llama-index-agent-openai==0.2.8
llama-index-cli==0.1.12
llama-index-core==0.10.55
llama-index-embeddings-ollama==0.1.2
llama-index-embeddings-openai==0.1.10
llama-index-indices-managed-llama-cloud==0.2.5
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.25
llama-index-multi-modal-llms-openai==0.1.7
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.30
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.8
llvmlite==0.41.1
lxml==4.9.2
lz4==4.3.2
Mako==1.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
Mastodon.py==1.8.1
matplotlib==3.8.3
matplotlib-inline==0.1.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
meteomoris==2.12.1
MiniSom==2.3.1
missingno==0.4.2
mistune==3.0.2
monotonic==1.6
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.2.1
msg-parser==1.2.0
msoffcrypto-tool==5.0.1
multidict==6.0.4
multipledispatch==0.6.0
murmurhash==1.0.9
mypy-extensions==1.0.0
natsort==8.3.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
nltk==3.8.1
notebook==6.4.11
numba==0.58.1
numexpr==2.8.4
numpy==1.25.2
oauthlib==3.2.2
olefile==0.46
oletools==0.60.1
ollama==0.2.1
opack==0.1.0
openai==1.35.3
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
openmeteo_requests==1.2.0
openmeteo_sdk==1.10.0
openpyxl==3.1.2
optuna==3.4.0
orjson==3.9.15
packaging==24.2
paho-mqtt==1.6.1
pandas==2.2.3
pandas-dq==1.28
pandas-flavor==0.5.0
pandoc==2.3
pandocfilters==1.5.1
panel==1.5.4
param==2.1.1
parameter-decorators==0.0.2
parsel==1.9.0
parso==0.8.3
pathy==0.10.1
patsy==0.5.3
pcodedmp==1.2.6
pdfminer.six==20231228
pdfplumber==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.0.0
platformdirs==4.3.6
plotly==5.14.1
plumbum==1.8.2
ply==3.11
posthog==3.0.1
preshed==3.0.8
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.29
Protego==0.3.0
proto-plus==1.24.0
protobuf==5.27.1
psutil==5.9.5
psycopg2-binary==2.9.7
ptyprocess==0.7.0
PuLP==2.8.0
pure-eval==0.2.2
pyamg==4.2.3
pyarrow==16.1.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAutoGUI==0.9.53
pycodestyle==2.9.1
pycparser==2.21
pycrashreport==1.2.2
pycryptodome==3.20.0
pyct==0.5.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
PyDispatcher==2.0.7
pydot==2.0.0
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.18.0
pygnuutils==0.1.1
pyimg4==0.8
pyjanitor==0.24.0
pykdebugparser==1.2.4
PyMsgBox==1.0.9
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyOpenSSL==24.1.0
pypandoc==1.11
pyparsing==3.1.2
pypdf==4.3.0
pypdfium2==4.30.0
pyperclip==1.8.2
pyphen==0.15.0
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-editor==1.0.4
python-louvain==0.16
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.21
python-ternary==1.0.8
pytube==15.0.0
pytun-pmd3==1.0.0
pytweening==1.0.4
pytz==2024.2
pytz-deprecation-shim==0.1.0.post0
pyusb==1.2.1
pyvis==0.3.2
pyviz_comms==3.0.3
pywhatkit==5.4
PyYAML==6.0.2
pyzmq==23.0.0
qh3==0.15.0
qrcode==7.3.1
qtconsole==5.3.0
QtPy==2.1.0
queuelib==1.6.2
rdt==1.9.2
readchar==4.0.6
red-black-tree-mod==1.20
referencing==0.35.1
regex==2022.10.31
remotezip==0.12.3
requests==2.32.3
requests-cache==1.1.1
requests-file==2.0.0
requests-oauthlib==2.0.0
retry-requests==2.0.0
rfc3986==1.5.0
rich==13.0.1
rpds-py==0.21.0
rsa==4.9
RTFDE==0.0.2
rubicon-objc==0.4.5
ruff==0.5.2
s3transfer==0.10.0
safetensors==0.4.3
scapy==2.5.0
scikit-learn==1.3.2
scipy==1.9.3
Scrapy==2.11.1
sdmetrics==0.13.0
sdv==1.10.0
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.0
sentence-transformers==3.0.1
sentencepiece==0.1.99
senticnet==1.6
service-identity==24.1.0
shap==0.44.0
shellingham==1.5.4
six==1.16.0
skforecast==0.11.0
sklearn==0.0.post1
sklearn-som==1.1.0
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.6
spacy==3.4.4
spacy-legacy==3.0.11
spacy-loggers==1.0.4
SQLAlchemy==2.0.30
sqlparse==0.4.4
squarify==0.4.3
srptools==1.0.1
srsly==2.4.5
stack-data==0.2.0
starlette==0.37.2
statsmodels==0.13.5
streamlit==1.36.0
streamlit_folium==0.20.1
striprtf==0.0.26
strsimpy==0.2.1
sweetviz==2.3.1
sympy==1.9
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.4.0
terminado==0.15.0
textblob==0.17.1
textstat==0.7.3
thinc==8.1.7
threadpoolctl==3.1.0
tiktoken==0.7.0
tinycss2==1.4.0
tldextract==5.1.1
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.1
torch==2.0.1
torchvision==0.15.2
tornado==6.1
tqdm==4.67.0
traitlets==5.14.3
traittypes==0.2.1
transformers==4.42.4
translate==3.6.1
tuyalinksdk==0.0.3
Twisted==24.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==4.2
uc-micro-py==1.0.3
ujson==5.9.0
ultralytics==8.0.119
unstructured==0.6.6
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.2.3
uvicorn==0.22.0
uvloop==0.17.0
virtualenv==20.25.1
w3lib==2.1.2
wasabi==0.10.1
watchfiles==0.19.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.3
widgetsnbextension==4.0.13
wikipedia==1.4.0
wordcloud==1.8.2.2
wrapt==1.14.1
wsproto==1.2.0
xarray==2023.3.0
xgboost==1.7.5
xlrd==2.0.1
XlsxWriter==3.1.2
xonsh==0.15.1
xyzservices==2024.9.0
yarl==1.8.2
yellowbrick==1.5
zeroconf==0.131.0
zope.interface==6.2
zstandard==0.21.0
